---
permalink: "css/theme.css"
---

:root {
  {% for key, value in tokens %}
  {% for name, val in value %}
--{{key}}__{{ name }}: {{ val }};{% endfor %}{% endfor %}
}

{% for name, color in tokens.palette %}
.bg--{{ name }} { background-color: var(--palette__{{ name }}); }
{% endfor %}
{% for name, color in tokens.palette %}
.color--{{ name }} {
    color: var(--palette__{{ name }});
}
{% endfor %}