@keyframes drift {
    0% {
        transform: translateX(0);
    }
    58% {
        transform: translateX(100%);
    }
    58.1% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}
