/* test */
// @import "customProperties";
@import "0-settings/tokens";
@import "0-settings/space";
@import "0-settings/animations";
@import "1-global/page-transitions";
@import "1-global/remedy";
@import "1-global/reset";
@import "1-global/typography";
@import "spotlight.css";
@import "components/main-nav";
@import "components/tags";
@import "components/site-header";

main {
    padding: calc(var(--space)) calc(var(--space) / 2) calc(var(--space) * 2)
        4vw;
    width: clamp(300px, 94vw, 1200px);
}

pre,
code {
    font-family:
        Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
        "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
        "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
        "Courier New", Courier, monospace;
    line-height: 1.5;
}

pre {
    overflow-x: scroll;
    display: block;
    font-size: 14px;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: 1em;
    margin: 0.5em 0;
    background-color: #f6f6f6;
}

code {
    word-break: break-all;
}
/* * { outline: hotpink 1px dotted;} */

/* Posts list */
.postlist {
    list-style: none;
    padding: 0;
    line-height: 1.5rem;
}

.postlist-item {
    margin-top: 3em;
}

.postlist-description {
    margin-top: 0.5em;
}

.postlist-date,
.postlist-item:before {
    font-size: 0.825em;
}

.postlist-date {
    letter-spacing: -0.02em;
    word-spacing: -1px;
}

.postlist-link {
    display: block;
    font-size: clamp(1.25em, 9vw, 2em);
    line-height: 1.1;
    font-weight: 500;
    text-decoration: none;
}

/* Direct Links / Markdown Headers */
.direct-link {
    font-family: sans-serif;
    text-decoration: none;
    font-style: normal;
    margin-left: 0.1em;
}

a[href].direct-link,
a[href].direct-link:visited {
    color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
    color: #aaa;
}

/* Colors */
body {
    background: var(--rainbow);
    color: var(--theme--light__text);
    animation: gradient 25s linear infinite;
}
main {
    background-image: linear-gradient(to right, #d6d7c0 700px, transparent);
}

h1,
.h1 {
    color: var(--redbrown);
}

h2,
.h2 {
    color: var(--indigo-grey);
}
a {
    text-decoration-color: var(--theme--light__highlight);
    color: var(--theme--light__highlight);
}

.logo-wrapper {
    display: none;
}

.logo {
    aspect-ratio: 1;
    border: 0.5px honeydew solid;
    // height: 10vh;
    // width: 10vh;
    // min-height: 64px;
    // transform-origin: top right;
    // transform: skewY(-30deg);
}

.logo__can-top {
    fill: var(--theme--light__text);
    stroke: var(--theme--light__text);
}

.logo__can-sides {
    stroke: var(--theme--light__text);
}

.logo__cloud {
    stroke: var(--hotPink--1);
    animation: drift 8s linear infinite;
    animation-fill-mode: backwards;
    .logo:nth-of-type(2) & {
        animation-delay: 3s;
        transform: translateX(100%);
    }
}

.logo__text {
    font-family: var(--font-serif);
    font-size: 3px;
    letter-spacing: 0.1em;
}

.swatch {
    display: inline-block;
    width: 30px;
    height: 30px;
}
/*# sourceMappingURL=index.css.map */

a[href^="https://developer.mozilla.org/"] {
    color: red;
}