---
permalink: "css/theme.css"
---

body {
    background-color: var(--background);
    border-top: 2px solid var(--color);
    text-decoration-color: var(--accents_primary_subtle);
}

h1, h2, .postlist-link  {
    color: var(--text_light);
        text-shadow: .5px .5px 0px var(--accents_secondary_strong, white), 1px 0px var(--accents_secondary_strong);
}
a:not(.postlist-link) {
    color: var(--accents_primary_strong);
    text-decoration-color: var(--accents_primary_strong);
}

/* --bg: var(--palette__${bgColor}__h), calc(${bgSaturation} * 1%), calc(${bgLightness} * 1%, bgColor);
--color: var(--palette__${color}__h), calc(${saturation} * 1%), calc(${lightness} * 1%, color); */
