.subsurface {
    position: fixed;
    z-index: -1;
}
body {
    background-color: var(--precious-persimmon-9);
}
main {
    width: clamp(300px, 94vw, 1200px);
    margin-inline-start: clamp(0px, 1vw, 4rem);
    background-image: linear-gradient(to right, white 600px, transparent);
}