@font-face {
    font-family: "Service Gothic";
    src: url("../../fonts/Service_Gothic_v0.2_Variable.woff2");
    font-display: swap;
}
@font-face {
    font-family: "Cascadia Code";
    src: url("../../fonts/CascadiaCode.woff2");
    font-display: swap;
}

:root {
    --cascadia: "Cascadia Code";
    --sono: "Sono";
    --sono-font-variation-settings: "MONO" 0;
    // --fontSize--base: -1rem + 4vw;
    --fontSize--base: clamp(1rem, calc(0.5rem + 2vw), 1.75rem);
    --fontSize--xl: clamp(2.25rem, calc(1.25rem + 2.5vw), 4rem);
    --fontSize--xxl: clamp(2.5rem, calc(1.5rem + 3vw), 5rem);
    --fontSize--base: 1rem;
    --lineHeight--base: 1.5;
    --space: var(--fontSize--base) * var(--lineHeight--base);

    --readableWidth--max: 60ch;
}

body {
    font-family: var(--cascadia), monospace;
    font-weight: 300;
    font-size: var(--fontSize--base);
    line-height: var(--lineHeight--base);
    // background: repeating-linear-gradient(
    //     hsl(0 0 0 / 0.05),
    //     hsl(0 0 0 / 0.05) calc(var(--space) / 2),
    //     white calc(var(--space) / 2),
    //     white calc(var(--space))
    // );
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    margin-block: 0 var(--space);
}

h1 {
    font-family: var(--font-display);
    font-size: var(--fontSize--xxl);
    line-height: calc(var(--space) * 2);
    margin-bottom: calc(var(--space));
}

h2,
.h2 {
    font-size: var(--fontSize--xl);
    font-weight: 300;
    line-height: calc(var(--space) * 2);
}

.readable {
    font-family:
        var(--sono),
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-variation-settings: var(--sono-font-variation-settings);
    letter-spacing: -0.005em;
    margin-bottom: 5em;
    *:where(p, ul, ol, dl, blockquote) {
        max-width: var(--readableWidth--max);
        margin-block: calc(var(--space)) 0;
    }

    ul,
    ol {
        padding-inline-start: 1em;
        list-style-position: inside;
        list-style-type: square;
        text-indent: -1em;
        line-height: calc(var(--space) * 0.875);
    }

    li {
        margin-top: calc(var(--space) / 2);
        max-width: calc(100% - var(--space));
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-block-start: calc(var(--space));
    }
}

.post-nav {
    padding-top: var(--space);
}
.post-nav ul {
    font-family: var(--cascadia), Consolas, monospace;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "ss01", "ss02", "ss03", "ss19", "ss20";
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        margin: 0;
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        justify-content: flex-start;
        text-wrap-style: pretty;
    }
}
