---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h1>The Homepage</h1>
<p>Welcome the the home page of my website.</p>


{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p><a href="{{ '/posts/' | url }}">Archive ➡</a></p>
